---
title: Home
layout: default
description: "Takuya Sasatani's website."
keywords: "Takuya Sasatani, 笹谷, 拓也, 笹谷拓也, research, publications"
---
{% assign debug = false %}

<div class="container">
  <div class="row ts-metadata">
    <div class="col-md-4">
      <div class="photo">
        <img
          src="{{ site.data.metadata.contact.photo }}"
          alt="{{ site.data.metadata.contact.name }}"
          class="img-fluid">
      </div>
      <div class="contact-info">
      </br>
        <strong>{{ site.data.metadata.contact.name }}</strong>
        <p>{{ site.data.metadata.contact.title }}</p>
        <!--<p>{{ site.data.metadata.contact.department }}</p>-->
        <p>{{ site.data.metadata.contact.university }}</p>
        <br/>
        <p>{{ site.data.metadata.contact.email }}</p>
        <br/>
      </div>
    </div>
    <div class="col-md-8">
      <div class="bio">
        <p>{{ site.data.metadata.shortbio }}</p>
        <br/>
        <p>{{ site.data.metadata.extrabio }}</p>
      </div>
    </div>
  </div>
  <hr>
  <h2>Selected projects</h2>
  <div class=" container projects-list">
    {% assign publication_list = site.data.publication %}
    {% if publication_list != null and publication_list.size > 0 %}
    {% assign publication_list = publication_list | sort: 'month' %}
    {% assign publication_list = publication_list | sort: 'year' %}
    {% assign publication_list = publication_list | sort: 'priority' | reverse %}
    {% endif %}
    {% for publication in publication_list %}
      {% if publication.thumbnail %}
        {% if debug %}
          <p>Listed publication: {{ publication.title }}</p>
        {% endif %}
        <div class="row project-item">
          <div class="col-md-4">
            <img
              src="/assets/images/publication/{{ publication.thumbnail }}"
              alt="{{ publication.title }}"
              class="img-responsive">
          </div>
          <div class="col-md-8">
            <strong>{{ publication.title }}</strong><br/>
            {% if publication.publication_abbr %}
              <em>{{ publication.publication_abbr }}</em>
            {% else %}
              <em>{{ publication.publication }}</em>
            {% endif %}
            {% if publication.month_str %}
              ({{ publication.month_str }}
            {% else %}
              (
            {% endif %}
            {{ publication.year }})<br/><br/>
            {% assign authors = publication.author | replace: ';', ','  | replace: '，', ', ' %}
            {% assign authors = authors | replace: 'Takuya Sasatani', '<u>Takuya Sasatani</u>' %}
            {% assign authors = authors | replace: '笹谷拓也', '<u>笹谷拓也</u>' %}
		        <span class="author-list">{{ authors | safe }}</span>
            <br/>
            {% if publication.open_access %}
              <a href="{{ publication.open_access }}" class="badge" target="_blank" rel="noopener noreferrer">
                Public access
              </a>
            {% endif %}

            {% if publication.video %}
              <a href="{{ publication.video }}" class="badge" target="_blank" rel="noopener noreferrer">
                Video
              </a>
            {% endif %}

            {% if publication.doi %}
              <a href="{{ publication.doi }}" class="badge" target="_blank" rel="noopener noreferrer">
                Publisher
              </a>
            {% endif %}

            {% if publication.link %}
              <a href="{{ publication.link }}" class="badge" target="_blank" rel="noopener noreferrer">
                Link
              </a>
            {% endif %}

            {% if publication.press_release_en %}
              <a href="{{ publication.press_release_en }}" class="badge" target="_blank" rel="noopener noreferrer">
                Press release (English)
              </a>
            {% endif %}

            {% if publication.press_release_jp %}
              <a href="{{ publication.press_release_jp }}" class="badge" target="_blank" rel="noopener noreferrer">
                Press release (Japanese)
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>