{% assign ordered_types =
"journal-en,conference-en-full,invited,tutorial,conference-en-adjunct,conference-jp,patent,dissertation" | split:
"," %}

{% if include.context == 'publist' or include.context == 'cv' %}
{% if include.debug %}
<p>Debug: include.toc is {{ include.toc }}</p>
{% endif %}
{% if include.toc %}
<h2>Table of Contents</h2>
<ul class="pub-toc">
	{% for type in ordered_types %}
	{% assign publication_by_type = site.data.publication | where: 'type', type %}
	{% if include.debug %}
	<li style="display:none;">Processing ToC for type: {{ type }} with {{ publication_by_type.size }} entries</li>
	{% endif %}
	{% if publication_by_type and publication_by_type.size > 0 %}
	<li>
		<a href="#{{ type }}">{{ include.type_names[type] }}</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>
<hr>
{% endif %}

{% assign counter = 0 %}

{% if include.debug %}
<h2>Publication Debug</h2>
<pre>{{ site.data.publication | jsonify }}</pre>
<h2>Type Names Debug</h2>
<pre>{{ include.type_names | jsonify }}</pre>
{% endif %}

{% for type in ordered_types %}
{% assign publication_by_type = site.data.publication | where: 'type', type %}

{% if include.debug %}
<p>Count for {{ type }}: {{ publication_by_type.size }}</p>
<p>Category: {{ include.type_names[type] }}</p>
{% endif %}

{% if publication_by_type != null and publication_by_type.size > 0 %}
{% assign publication_by_type = publication_by_type | sort: 'month' %}
{% assign publication_by_type = publication_by_type | sort: 'year' | reverse %}

{% if include.context == 'publist' %}
<h2 id="{{ type }}">{{ include.type_names[type] }}</h2>
<ol class="publication-list">
	{% for publication in publication_by_type %}
	<li class="publication-item">
		{% if publication.individual_page == 'TRUE' %}
		{% assign publication_title = publication.title | downcase | replace: ' ', '_' | replace: ':', '' | replace: ',', '' | replace: /[^a-z0-9_]/, '' %}
		<strong>
			<a href="/publications/{{ publication_title }}">{{ publication.title }}</a>
		</strong>
		{% else %}
		<strong>{{ publication.title }}</strong>
		{% endif %}
		<br />
		{% assign authors = publication.author | replace: ';', ',' | replace: '，', ', ' %}
		{% assign authors = authors | replace: 'Takuya Sasatani', '<u>Takuya Sasatani</u>' %}
		{% assign authors = authors | replace: '笹谷拓也', '<u>笹谷拓也</u>' %}
		<span class="author-list">{{ authors | safe }}</span>
		<br/>
		{% if publication.publication %}
		<em>{{ publication.publication }}</em>
		{% if publication.publication_abbr %} ({{ publication.publication_abbr }}){% endif %}
		{% endif %}
		{% if publication.month_str %}
		({{ publication.month_str }}
		{% else %}
		(
		{% endif %}
		{{ publication.year }}).

		{% if publication.to_appear %}
		To appear.
		{% endif %}

		{% if publication.note %}
		<br />
		<span class="pub-note">{{ publication.note }}</span>
		{% endif %}
		<br />
		{% if publication.open_access %}
		<a href="{{ publication.open_access }}" class="badge" target="_blank">
			Public Access
		</a>
		{% endif %}

		{% if publication.video %}
		<a href="{{ publication.video }}" class="badge" target="_blank">
			Video
		</a>
		{% endif %}

		{% if publication.doi %}
		<a href="{{ publication.doi }}" class="badge" target="_blank">
			Publisher
		</a>
		{% endif %}

		{% if publication.link %}
		<a href="{{ publication.link }}" class="badge" target="_blank">
			Link
		</a>
		{% endif %}

		{% if publication.press_release_en %}
		<a href="{{ publication.press_release_en }}" class="badge" target="_blank">
			Press release (English)
		</a>
		{% endif %}

	</li>
	{% endfor %}
</ol>
{% endif %}

{% if include.context == 'cv' %}
<div class="row cv-pub-category">
	<div class="col-md-2 cv-pub-category-name">
		{{ include.type_names[type] }}
	</div>
	<div class="col-md-10 cv-list">
		<ol>
			{% for publication in publication_by_type %}
			<li class="publication-item">
				{% assign authors = publication.author | replace: ';', ',' | replace: '，', ', ' %}
				{% assign authors = authors | replace: 'Takuya Sasatani', '<u>Takuya Sasatani</u>' %}
				{% assign authors = authors | replace: '笹谷拓也', '<u>笹谷拓也</u>' %}
				<span class="author-list">{{ authors | safe }},</span>
				{% if publication.doi %}
				"<a href="{{ publication.doi }}" target="_blank">{{ publication.title }}</a>,"
				{% else %}
				"{{ publication.title }},"
				{% endif %}
				<em>{{ publication.publication }}</em>
				{% if publication.publication_abbr %} ({{ publication.publication_abbr }}),
				{% else %}
				,
				{% endif %}
				{% if publication.volume %}
				Vol. {{ publication.volume }},
				{% endif %}

				{% if publication.number %}
				No. {{ publication.number }},
				{% endif %}

				{% if publication.article %}
				Article {{ publication.article }},
				{% endif %}

				{% if publication.session %}
				{{ publication.session }},
				{% endif %}

				{% if publication.pages %}
				{% assign pages = publication.pages | replace: ' - ', '&ndash;' %}
				pp. {{ pages }},
				{% endif %}

				{% if publication.city %}
				{{ publication.city }},
				{% endif %}

				{% if publication.month_str %}
				{{ publication.month_str }}
				{% endif %}
				{{ publication.year }}.

				{% if publication.to_appear %}
				To appear.
				{% endif %}

				{% if publication.note %}
				<span class="pub-note">{{ publication.note }}</span>
				{% endif %}
			</li>
			{% endfor %}
		</ol>
		<hr>
	</div>
</div>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}