{% assign ordered_types = "journal-en,conference-en-full,invited,tutorial,conference-en-adjunct,conference-jp" | split: "," %}

{% if include.context == 'publist' or include.context == 'cv' %}

  {% if include.toc %}
  <!-- Table of Contents -->
  <ul>
    {% for type in ordered_types %}
      {% assign publication_by_type = site.data.publication | where: 'type', type %}
      {% if publication_by_type and publication_by_type.size > 0 %}
        <li><a href="#{{ type }}">{{ include.type_names[type] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}

  <ol>
{% endif %}

{% assign counter = 0 %}

{% if include.debug %}
<!-- Debug: Display publication data -->
<h2>Publication Debug</h2>
<pre>{{ site.data.publication | jsonify }}</pre>

<!-- Debug: Display type_names -->
<h2>Type Names Debug</h2>
<pre>{{ include.type_names | jsonify }}</pre>
{% endif %}

{% for type in ordered_types %}
  {% if include.debug %}
  <!-- Debug: Display Publication Type -->
  <h3>Type: {{ type }}</h3>
  {% endif %}
  
  {% assign publication_by_type = site.data.publication | where: 'type', type %}
  
  {% if include.debug %}
  <!-- Debug: Display publication count by type -->
  <p>Count for {{ type }}: {{ publication_by_type.size }}</p>
  <!-- Debug: Display type_names[type] -->
  <p>Category: {{ include.type_names[type] }}</p>
  {% endif %}
  
  {% if publication_by_type != null %}
    {% assign publication_by_type = publication_by_type | sort: 'month' | reverse %}
    {% assign publication_by_type = publication_by_type | sort: 'year' | reverse %}
  {% endif %}
  
  {% if publication_by_type and publication_by_type.size > 0 %}
    {% if include.context == 'cv' or include.context == 'publist' %}
    <!-- Display category heading -->
    <h2 id="{{ type }}">{{ include.type_names[type] }}</h2>
    <ol class="publication-list">
    {% endif %}
    
    {% for publication in publication_by_type %}
      {% assign counter = counter | plus: 1 %}
        
      {% if include.context == 'cv' %}
      <li class="publication-item">
        <!-- Numbered publication for numbered context -->
        <!-- <span class="publication-number">{{ counter }}.</span> -->
        <span class="author-list">{{ publication.author | replace: ';', ',' }}, </span>
        {% if publication.link %}
          <a href="{{ publication.link }}">{{ publication.title }}</a>
        {% else %}
          {{ publication.title }}
        {% endif %}
        <em>{{ publication.publication }}</em>
        {% if publication.publication_abbr %}
          ({{ publication.publication_abbr }})
        {% endif %}
        . 
        <strong>{{ publication.year }}</strong>.
        {% if publication.month %}
          {{ publication.month }}. 
        {% endif %}
        {% if publication.pages %}
          pp. {{ publication.pages }}.
        {% endif %}
        <br/>
      </li>
      {% else %}
      <li class="publication-item">
        <!-- Numbered publication for numbered context -->
        <!-- <span class="publication-number">{{ counter }}.</span> -->
        {% if publication.link %}
          <a href="{{ publication.link }}">{{ publication.title }}</a>
        {% else %}
          {{ publication.title }}
        {% endif %}
				<br/>
        <span class="author-list">{{ publication.author | replace: ';', ',' }}</span>
        <br/>
        {% if publication.publication %}
          {{ publication.publication }}
          {% if publication.publication_abbr %}
          ({{ publication.publication_abbr }})
          {% endif %}
          <br/>
        {% endif %}
        
        {% if publication.month_str %}
          {{ publication.month_str }}
        {% endif %}
				{{ publication.year }}<br/>
        {% if publication.pages %}
          <strong>Pages:</strong> {{ publication.pages }}<br/>
        {% endif %}
      </li>
      {% endif %}
    
    {% endfor %}
    
    {% if include.context == 'cv' or include.context == 'publist' %}
    </ol>
    {% endif %}
  {% endif %}
{% endfor %}

{% if include.context == 'publist' or include.context == 'cv' %}
</ol>
{% endif %}