body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400; /* Light */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 800; /* Heavy for headings */
  font-size: 1.5em; /* Adjust the size as needed */
  margin-top: 30pt;
  margin-bottom: 10pt;
}

h2 {
  font-weight: 800; /* Heavy for headings */
  font-size: 1.2em; /* Adjust the size as needed */
  margin-top: 30pt;
  margin-bottom: 10pt;
}

h3 {
  font-weight: 800; /* Heavy for headings */
  font-size: 1em; /* Adjust the size as needed */
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.pub-note {
  font-weight: 800; /* Heavy for headings */
  color: darkred;
}

.container .badge {
  display: inline-block;
  margin: 0px 0px;
  font-size: 0.7em;
  font-weight: bold;
  color: #fff;
  background-color: #9c9c9c;
  border-radius: 10px;
  text-decoration: none;
}

.container .badge:hover {
  background-color: #646464;
}
.cv-pub-category {
  font-weight: 800; /* Heavy for headings */
  font-size: 1em; /* Adjust the size as needed */
}

.author-list {
  font-weight: 400; /* Normal for author list */
}

.cv-list .cv-date {
  margin-top: 10pt;
}
.cv-category {
  font-weight: 800; /* Heavy for headings */
  font-size: 1em; /* Adjust the size as needed */
  margin-top: 10pt;
}

/* Remove margin for the table of contents */
.pub-toc {
  margin: 0; /* Remove margin around the <ul> */
  padding: 0; /* Optionally remove padding */
  list-style-type: none; /* Remove bullet points if desired */
}

.pub-toc li {
  margin: 0; /* Remove margin around <li> elements */
  padding: 0 0; /* Optionally adjust padding */
}

ol {
  list-style-type: decimal; /* Ordered list for publications */
  padding-left: 0; /* Remove padding */
  margin-left: 0; /* Remove margin */
  margin-bottom: 1em;
}

ul {
  list-style-type: none; /* Ordered list for publications */
  padding-left: 0; /* Remove padding */
  margin-left: 0; /* Remove margin */
  margin-bottom: 1em;
}

li {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 1em;
}

p {
  margin: 0; /* Remove default indent on paragraphs */
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

.author-list {
  font-weight: 400;
}

.publication-number {
  font-weight: bold;
  margin-right: 5px;
}

.ts-profile {
  margin-top: 40px;
  margin-bottom: 40px;
}

.publication-list{
  margin-left: 20pt;
}

.project-item {
  margin-top: 40px;
  margin-bottom: 20px;
}

.bio-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.bio-contact .photo,
.bio-contact .contact-info,
.bio-contact .bio {
  flex: 1 1 45%;
  max-width: 100%;
}

.bio-contact .photo img {
  max-width: 100%;
  display: block;
}

.projects-list .project {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin-bottom: 40px;
}

.projects-list .project-media {
  flex: 1 1 40%;
}

.projects-list .project-media img {
  max-width: 100%;
  display: block;
}

.projects-list .project-info {
  flex: 1 1 55%;
}

@media (max-width: 768px) {
  .bio-contact {
    flex-direction: column;
  }

  .projects-list .project {
    flex-direction: column;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  object-fit: cover;
  /* Ensures the image covers the container */
}