---
layout: default
---

<h1>{{ site.data.metadata.contact.name }}&mdash;Curriculum Vitae</h1>
{{ site.data.metadata.contact.email }}<br>
Last updated: {{ metadata.gsheet_update | date: "%b %d, %Y" }}<br><br>
{{ site.data.metadata.shortbio }}

<h2>Professional experience</h2>
{% for item in site.data.career %}
  <div class="row cv-item">
    <div class="col-md-2 cv-date">
      {{ item['start_date'] | date: "%Y" }}&ndash;{{ item['end_date'] | date: "%Y" }}
    </div>
    <div class="col-md-10 cv-list">
      <strong>{{ item['title'] }}</strong>&mdash;{{ item['affiliation'] }}
    </div>
  </div>
{% endfor %}
<hr>

<h2>Education</h2>
{% for item in site.data.education %}
  <div class="row cv-item">
    <div class="col-md-2 cv-date">
      {{ item['start_date'] | date: "%Y" }}&ndash;{{ item['end_date'] | date: "%Y" }}
    </div>
    <div class="col-md-10 cv-list">
      <strong>{{ item['degree'] }}</strong>&mdash;{{ item['institution'] }}
    </div>
  </div>
{% endfor %}
<hr>

<h2>Grants awarded (as PI)</h2>
{% for item in site.data.grant %}
  <div class="row cv-item">
    <div class="col-md-2 cv-date">
      {{ item['start_date'] | date: "%Y" }}&ndash;{{ item['end_date'] | date: "%Y" }}
    </div>
    <div class="col-md-10 cv-list">
      <strong>{{ item['program'] }}</strong>&mdash;{{ item['support'] }}
    </div>
  </div>
{% endfor %}
<hr>

<h2>Awards and honors</h2>
{% for item in site.data.award %}
  <div class="row cv-item">
    <div class="col-md-2 cv-date">
      {{ item['date'] | date: "%b %d, %Y" }}
    </div>
    <div class="col-md-10 cv-list">
      <strong>{{ item['name_en'] }}</strong>&mdash;{{ item['from_en'] }}
    </div>
  </div>
{% endfor %}
<hr>

<h2>Academic service / reviewer</h2>
{% for item in site.data.service %}
  <div class="row cv-item">
    <div class="col-md-2 cv-date"></div>
    <div class="col-md-10 cv-list">
      <strong>{{ item['role'] }}</strong>&mdash;{{ item['program'] }}
    </div>
  </div>
{% endfor %}
<hr>

<h2>Publications</h2>
{% include publication_list.html 
 context='cv'
 type_names=page.type_names
 debug=false
 toc=false %}</section>