<!DOCTYPE html>

<html lang="en">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LN1CETZQQT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LN1CETZQQT');
</script>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Include Noto Sans Light from Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

</head>
<body>
  <div class="flex-container">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid d-flex align-items-center justify-content-between">
        <!-- Site Title -->
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <!-- Toggle for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            {% for item in site.navigation %}
              <li class="nav-item">
                <a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
            <li class="nav-item">
              <a class="nav-link" href="https://scholar.google.com/citations?user=vuvZTKwAAAAJ&hl=en" target="_blank" aria-label="Google Scholar">
                <i class="fas fa-graduation-cap"></i>&thinsp;
              </a>
            </li>
            <!-- GitHub Icon -->
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/t-sasatani" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>&thinsp;
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://x.com/takuyasasatani" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter"></i>&thinsp;
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- Main Content Area -->
    <div class="container flex-grow-1">
      <!-- Row for center 8 units -->
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <!-- Embedding default.html or your page content goes here -->
          {{ content }}
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
      <div class="container p-4">
        {% assign current_year = site.time | date: '%Y' %}
        <p>&copy; {{ site.starting_year }}{% if current_year != site.starting_year %}-{{ current_year }}{% endif %} Takuya Sasatani. All rights reserved.</p>
          </div>
    </footer>
  </div>
  
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>