---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <h3>{{ page.author }}</h3>

  {% if page.open_access %}
  <a href="{{ page.open_access }}" class="badge" target="_blank">
    PDF
  </a>
  {% endif %}

  {% if page.video %}
  <a href="{{ page.video }}" class="badge" target="_blank">
    Video
  </a>
  {% endif %}

  {% if page.doi %}
  <a href="{{ page.doi }}" class="badge" target="_blank">
    Publisher
  </a>
  {% endif %}

  {% if page.link %}
  <a href="{{ page.link }}" class="badge" target="_blank">
    Link
  </a>
  {% endif %}

  {% if page.press_release_en %}
  <a href="{{ page.press_release_en }}" class="badge" target="_blank">
    Press release (English)
  </a>
  {% endif %}
  {% if page.abstract and page.abstract != "" %}
    <h3>Abstract</h3>
    <p>{{ page.abstract }}</p>
  {% endif %}

  <br />
  <h3>
    {{ page.publication }}
    {% if page.publication_abbr and page.publication_abbr != "" %}
    ({{ page.publication_abbr }})
    {% endif %}
  </h3>
  <p>
    Published:
    {% if page.month_str and page.month_str != "" %}
      {{ page.month_str }}
    {% endif %}
    {{ page.year }}
    {% if page.to_appear and page.to_appear != "" %}
      (To appear)
    {% endif %}
  </p>
  {% if page.volume and page.volume != "" %}
    <p>Volume: {{ page.volume }}</p>
  {% endif %}

  {% if page.number and page.number != "" %}
    <p>Number: {{ page.number }}</p>
  {% endif %}

  {% if page.article and page.article != "" %}
    <p>Article: {{ page.article }}</p>
  {% endif %}

  {% if page.pages and page.pages != "" %}
    <p>Pages: {{ page.pages }}</p>
  {% endif %}

  {% if page.city and page.city != "" %}
    <p>City: {{ page.city }}</p>
  {% endif %}
</article>