---
layout: default
---

<h1>{{ page.title }}</h1>

<!-- Predefined order for the types -->
{% assign ordered_types = "journal-en,conference-en-full,invited,tutorial,conference-en-adjunct,conference-jp" | split: "," %}

<!-- Print debug information -->
<!--
<h2>Debug Information:</h2>
<ul>
  {% for type in ordered_types %} 
    <li>Type: {{ type }} -> Readable Name: {{ page.type_names[type] }}</li>
  {% endfor %}
</ul>
-->

<!-- Create a single ordered list for all publication -->
<ol>
  {% assign counter = 0 %}
  {% for type in ordered_types %}
    {% assign publication_by_type = site.data.publication | where: 'type', type %}
    {% assign publication_by_type = publication_by_type | sort: 'month' | reverse %}
    {% assign publication_by_type = publication_by_type | sort: 'year' | reverse %}
    {% if publication_by_type.size > 0 %}
      <h2 id="{{ type }}">{{ page.type_names[type] }}</h2>
      {% for publication in publication_by_type %}
        <li>
          {% assign counter = counter | plus: 1 %}

          {% if publication.link %}
            <a href="{{ publication.link }}">{{ publication.title }}</a>
          {% else %}
            {{ publication.title }}
          {% endif %}
          <br/>

          {% if publication.publication %}
            {{ publication.publication }}
            {%if publication.publication_abbr %} 
            ({{ publication.publication_abbr }})
            {% endif %}
            <br/>
          {% endif %}
          
          <strong>Authors:</strong> <span class="author-list">{{ publication.author | replace: ';', ',' }}</span><br/>

          {% if publication.publication %}
            <strong>Year:</strong> {{ publication.year }}<br/>
          {% endif %}

          {% if publication.month %}
            <strong>Month:</strong> {{ publication.month }}<br/>
          {% endif %}

          {% if publication.pages %}
            <strong>Pages:</strong> {{ publication.pages }}<br/>
          {% endif %}
          <hr/>
        </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ol>